.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
}

.short_desc {
    color: #666666;
    font-size: 1.2em;
}

.container img {
    width: 100%;
}

.button {
    text-align: center;
}

.button button {
    cursor: pointer;
    padding: 8px 23px;
    background: linear-gradient(225deg, rgba(221,57,255,1) 0%, rgba(41,252,255,1) 100%);
    color: #6C00B2;
    border-radius: 2px;
    border: none;
}
